{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-await-in-loop": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off",
    "no-negated-condition": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "indent": ["error", 2, {"SwitchCase":  1}]
  }
}
